@import url("https://fonts.googleapis.com/css2?family=DotGothic16&display=swap");
* {
  box-sizing: border-box;
}
.title {
  color: whitesmoke;
  text-shadow: 5px 5px 5px black;
}
.title:hover {
  color: whitesmoke;
  text-shadow: 5px 5px 5px maroon;
}
p {
  color: whitesmoke;
  text-shadow: 5px 5px 5px black;
}
h1 {
  font-size: 40px;
  color: whitesmoke;
  text-shadow: 2px 2px black;
}
h2 {
  font-size: 25px;
  color: whitesmoke;
  text-shadow: 2px 2px black;
}
body {
  font-family: "DotGothic16", sans-serif;
  font-size: 20px;
  color: whitesmoke;
  text-decoration: none;
  background-color: black;
  display: block;
  margin: 0px;
  /* border: 50px solid black; */
  padding: 50px;
  height: 100%;
  background-image: url("background.png");
  background-size: 100%;
}
html {
  height: 100%;
}
